body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: snow;
}
form{
    padding-top: 5px;
    padding: 20px;
    border-radius: 25px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
span{
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
.dn{
    text-align: center;
    text-decoration: none;
}
.signup{
    text-align: center;
    font-size: 30px;
    border: none;
}
.head{
    text-align: center;
    color: red;
    font-weight: bold;
    
}
.save{
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: aquamarine;
}
.signup :hover{
    color: white;
    background-color: rgb(0, 183, 255);
    border-radius: 10px;
    border: none;
    
}
.inp{
    float: left;
}
.ins{
    width: 100px;
    text-align: center;
}

.file{
    color: rgb(13, 0, 255);
}
.file:hover{
    cursor: pointer;
}